.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 40vmin;
  border: 10px solid orangered;
  outline: 55px inset purple;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: orangered;
  background-color: #5dca31;
  border: 33px dotted hotpink;
  border-radius: 100px;
  width: 77vw;
  outline: 12px outset yellow;
}

.danger {
  color: orangered;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(720deg);
  }
  to {
    transform: rotate(360deg);
  }
}
